DATABASE_HOST=127.0.0.1
DATABASE_USER=dirtsand
DATABASE_PASSWORD=dirtsand
DATABASE_DB=dirtsand
PUBLIC_RECAPTCHA_SITE_KEY=abc
RECAPTCHA_VERIFICATION_URL=https://recaptchaenterprise.googleapis.com/v1/projects/PROJECT/assessments?key=API_KEY
MAIL_SENDER=no-reply@example.net
MAIL_TEST_MODE=false
AGEUPLOAD_DIR=/home/dirtsand/ageuploads
